html {
    height: 100%;
    width: 100%;
}

.buttons button {
    color: white;
    padding: 5px; 
    border-radius: 5px;
    background-color: darkblue; 
}

.body_dark {
    background-color: dark-grey
}

.body_light {
    
}