html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons button {
    color: white;
    padding: 5px; 
    border-radius: 5px;
    background-color: darkblue; 
}

.body_dark {
    background-color: rgb(74, 70, 70);
}

.body_light {
    background-color: whitesmoke; 
}

.Login_container {
    display: inline-block;
    Background-color: grey ;
    Border-radius: 5px;
    margin: 10px; 
    padding: 10px;
}