html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;    
    font-family: Arial, Helvetica, sans-serif; 
    padding: 0;
    margin: 0;
}

.buttons button {
    color: white;
    margin: 2px;
    padding: 5px; 
    border-radius: 5px;
    background-color: #333; 
    border: #fff 3px;
}

@keyframes button-hover {
    from {
        color: #fff;
        background-color: #333;
    } to {
        color: #333;
        background-color: #fff;
    }
}

.buttons button:hover {
    animation: button-hover 200.0ms;
    color: #333;
    background-color: #fff;
}

.home_button {
    background-color: rgba(0,0,0,0);
    color: #fff;
    font-size: medium;
    align-items: center;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: .25rem;
    justify-content: center;
}

.home_button:hover {
    background-color: rgba(255,255,255,0.3);
}

.body_dark {
    background-color: rgb(74, 70, 70);
}

.body_light {
    background-color: whitesmoke; 
}

.body_container {
    display: inline-block;
    Background-color: grey ;
    Border-radius: 5px;
    margin: 10px; 
    padding: 10px;
}

.dark {
    background-color: #222;
    color: #eee;
}

pre code span.dark {
    background-color: #303030;
}

.searchbar {
    padding: 7px;
    border-radius: 7px;
    border-color: #fff;
}

.dark-shade1 {
    background-color: #555;
}

.icon-theme-light {
    mask-image: url('./assets/theme-light.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #eee;
}

.icon-theme-dark {
    mask-image: url('/assets/theme-dark.svg');  
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #eee;
}

.theme-toggle {
    align-items: center; 
    border-radius: 5px;
    display: flex;
    gap: .25rem;
    justify-content: center;
}

.theme-toggle:hover {
    background-color: rgba(255,255,255,0.3);
}

.top-bar {
    background-color: #555;
    color: #fff;
}

.top-bar.dark {
    background-color: #333;
    color: #fff;
}
