form {
  display: grid;
  width: 40%;
  padding: 15px;
  padding-left: 0;
  grid-template-columns: repeat(2, 1fr);
}

input {
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 2px solid #222 ;
  outline: none;
}

input.dark {
  border-color: #999;
}